//
//  Parallax
//
.parallax-container
{
    position: relative;
    background: theme(primary, solid);
    overflow: hidden;

    @include flex(row, center, center, nowrap);

    .tag-container
    {
        @include flex(row, center, center, nowrap);
        margin-left: auto;
        margin-right: auto;

        li
        {
            @include flex(row, center, center, nowrap);
            @include edge(0, 0);
            &::before
            {
                content: "•";
            }

            &:first-child
            {
                &::before
                {
                    content: none;
                }
            }
        }

    }
    .tag
    {
        border: none;
        background: none;
    }
}
.parallax-image__container
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 0;

    background: theme(primary, solid);
    img
    {
        width: 150%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        pointer-events: none;
        //overflow: hidden;
        opacity: 75%;

        transition: filter $default-transition-duration ease;
        //-webkit-filter: blur($small_spacer);
        //filter: blur($small_spacer);
    }
}
.parallax-image__container-overlay
{
    z-index: 1;
    //width: 100%;
    & > *
    {
        z-index: 1;
        //max-width: 75%;
        margin-left: auto;
        margin-right: auto;

        color: gray(off-white);
        text-align: center;

        text-shadow: 0 0 2px gray(off-black), 0 0 6px gray(off-black), 0 0 16px theme(primary), 0 0 32px theme(primary, trans);
        &:only-child
        {
            //max-width: 100%;
        }
    }
    @include edge(
        $padding: $section_spacer
    );
}
.parallax-link
{
    &:hover
    {
        background: theme(primary);
    }
}
.transparency
{
    background: theme(primary, trans);
    .parallax-image__container
    {
        background: theme(primary, trans);
        img
        {
            //-webkit-filter: none;
            //filter: none;
        }
    }
}

.mobile-mode
{
    .parallax-image__container
    {
        img
        {
            width: 100vmax;
        }
    }
    .parallax-image__container-overlay
    {
        & > *
        {
            max-width: 100%;
        }
    }
}
@import "parallax-home";