@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Raleway:100,200,300,400,500,600,700,800,900&display=swap");
.blog-gallery + p, .blog-header + p, p + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, .blog-gallery + div, .blog-header + div, p + div, h1 + div, h2 + div, h3 + div, h4 + div, h5 + div, h6 + div {
  margin-top: 1.5rem;
}

.blog-gallery + h2, p + h2, .blog-gallery + h3, p + h3, .blog-gallery + h4, p + h4, .blog-gallery + h5, p + h5, .blog-gallery + h6, p + h6, .blog-gallery + div, p + div {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

/**
**  Set variables.
**/
:root {
  --white: white;
  --off-white: #f2f2f2;
  --dark-gray: #404040;
  --off-black: #1a1a1a;
  --black: black;
  --primary-solid: hsla(207, 85%, 23%, 1.0);
  --primary-off: hsla(207, 85%, 23%, 0.95);
  --primary-trans: hsla(207, 85%, 23%, 0.45);
  --secondary-solid: hsla(230, 75%, 50%, 1.0);
  --secondary-off: hsla(230, 75%, 50%, 0.95);
  --secondary-trans: hsla(230, 75%, 50%, 0.45);
}

/**
 * Reset all formatting.
 * In particular, set margin and padding of all elements to 0.
 */
* {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TYPOGRAPHY
 * -- default --
 *
 * + h1, h2, h3, h4, h5, h6
 * + p
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** Set the default font style for all inheriting elements. */
html, body {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: calc(1.1rem / 20);
  background: var(--off-white);
  color: var(--off-black);
}

/** Set the default font style for heading text. */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  /* Spacing & Border */
  margin: 0.5rem 0;
  padding: 0;
  font-weight: 400;
  color: var(--off-black);
}

/** h1: Main Heading: "Reilly Thate" */
h1 {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  font-size: 1.9487171rem;
  line-height: 1.9487171rem;
  letter-spacing: calc(1.9487171rem / 20);
  text-align: center;
}

/** h2: Reserved for page headings; i.e. "Blog" */
h2 {
  font-size: 1.61051rem;
  line-height: 1.61051rem;
  letter-spacing: calc(1.61051rem / 20);
}

/** h3 */
h3 {
  font-size: 1.4641rem;
  line-height: 1.4641rem;
  letter-spacing: calc(1.4641rem / 20);
}

/** h4 */
h4 {
  font-size: 1.331rem;
  line-height: 1.331rem;
  letter-spacing: calc(1.331rem / 20);
}

/** h5 */
h5 {
  font-size: 1.21rem;
  line-height: 1.21rem;
  letter-spacing: calc(1.21rem / 20);
}

/** h6 */
h6 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: calc(1.1rem / 20);
}

/** Set the default font style for body text. */
p {
  font-size: 1.1rem;
  line-height: 1.1rem;
  letter-spacing: calc(1.1rem / 20);
  line-height: calc(1.1rem * 1.25);
}
p + ul {
  /* Spacing & Border */
  margin: 0 0 0.5rem 2rem;
  padding: 0;
}
p + ul:last-child {
  margin-bottom: 0.25rem;
}

ul {
  /* Spacing & Border */
  margin: 0 0 0.75rem 1rem;
  padding: 0;
}

li {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

/** Set the default font style for form elements. */
input[type=text], label, textarea, button {
  font-family: "Raleway", sans-serif;
  font-size: calc(1.1rem * 1.0);
  letter-spacing: calc(1.1rem / 12.5);
}

.after_button {
  padding-left: 0.5rem;
}

.error_message {
  color: var(--red);
  font-style: italic;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LINKS
 *
 * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** Anchor tag styling. */
a {
  /* Remove UNDERLINES from links. */
  text-decoration: none;
  width: auto;
}
a:hover {
  color: var(--primary-off);
}
a:visited {
  color: var(--off-black);
}
a:visited:hover {
  color: var(--primary-off);
}

.end-preview-link {
  text-align: right;
  color: var(--primary-off);
}
.end-preview-link::before {
  content: "»";
  padding-right: 0.5rem;
}
.end-preview-link > a:link, .end-preview-link > a:visited {
  text-decoration: underline;
  color: var(--primary-off);
}
.end-preview-link > a:link:hover, .end-preview-link > a:visited:hover {
  color: var(--off-black);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Page Layout -- Default (No Queries)
 *
 * + LIGHT THEME
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0 1rem;
}

#video_selection {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * HEADER
 * -- default --
 *
 * #public_header,
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the <header> element when defined as #public_header.
 */
#public_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0;
  border-bottom: 3px solid var(--primary-trans);
}
#public_header > a {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  width: calc(8rem * 0.75);
  height: calc(8rem * 0.75);
}
#public_header img {
  width: 100%;
}
#public_header img:hover {
  opacity: 90%;
}
/**
 * Styling for the <nav> element within the <header> element.
 */
#nav_primary {
  margin: 1rem;
  margin-bottom: 0;
  flex-basis: 100%;
}
#nav_primary ul {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}
#nav_primary li {
  text-align: right;
  font-weight: normal;
  font-size: calc(1.25rem * 1.1);
  letter-spacing: calc(1.25rem / 15);
}
#nav_primary a {
  display: block;
  padding: 0.75rem;
  padding-right: 1.5rem;
}
#nav_primary .nav_active_page {
  cursor: default;
  border-right: 0.25rem groove var(--primary-off);
  padding-right: 1.25rem;
}
#nav_primary .nav_active_page:hover {
  color: var(--off-black);
}

#backticks {
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
  border-bottom: 3px solid var(--primary-trans);
}
#backticks ul {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
#backticks ul li {
  text-decoration: underline;
}
#backticks ul li:first-child::before {
  display: inline-block;
  text-decoration: none;
  content: "";
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}
#backticks ul li::before {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  content: "»";
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * -- default --
 *
 * main
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the document's <main> element.
 */
main {
  background: var(--off-white-off);
  color: var(--off-black-off);
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
}

#manager {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#manager > section {
  /* Spacing & Border */
  margin: 0 1rem;
  padding: 0;
  flex-basis: 45%;
}

article {
  /* Spacing & Border */
  margin: 0.75rem 0;
  padding: 0;
}

#portfolio_grid {
  /* Spacing & Border */
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * FOOTER
 * -- default --
 *
 * footer, #nav_footer,
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
footer {
  background: var(--off-white);
  color: var(--off-black);
  /* Spacing & Border */
  margin: 0.5rem;
  padding: 0.5rem;
  border-top: 3px solid var(--primary-trans);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer > * {
  flex-basis: 100%;
}
footer p {
  text-align: center;
}
footer > a {
  text-align: center;
  width: 50px;
  flex-basis: auto;
}
footer > a img {
  margin-top: 1rem;
  max-width: 50px;
  filter: grayscale(50%);
  filter: opacity(50%);
}
footer > a img:hover {
  opacity: 90%;
}

/**
* Styling for the footer's <nav> element.
*/
#nav_footer {
  /* Spacing & Border */
  margin: 0 1rem 1rem 1rem;
  padding: 0;
}
#nav_footer ul {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
#nav_footer li {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}
#nav_footer a {
  text-decoration: underline;
  display: block;
  padding: 0.5rem;
}
#nav_footer #copyright {
  text-align: center;
}

.sidebar__menu {
  list-style: none;
}

.sidebar__heading {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.collapsible {
  background: var(--primary-off);
  /* Spacing & Border */
  margin: 0;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), -1px -1px 4px 1px white;
  font-size: calc(1.25rem * 1.1);
  letter-spacing: calc(1.25rem / 15);
  text-align: center;
  transition-duration: 250ms;
  cursor: pointer;
}

button.collapsible {
  margin-bottom: 1rem;
}
button.collapsible:hover {
  background: #d9d9d9;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2), -1px -1px 4px 1px white;
}

.active {
  background: var(--secondary-trans);
  margin-bottom: 0 !important;
}

.collapsible_content {
  display: none;
  overflow: hidden;
}

#nav_primary ul.collapsible_open {
  display: grid;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CARDS
 * -- default --
 *
 * .card_gallery, .card_count_(1-4)
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.card_gallery {
  /* Spacing & Border */
  margin: 1rem 0 0.5rem 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-gap: 0.5rem;
}
.card_gallery + .card_gallery {
  margin-top: 0.5rem;
}
.card_gallery:last-child {
  margin-bottom: 1rem;
}

/**
**
**/
.portfolio_card, .card {
  position: relative;
  overflow: hidden;
}
.portfolio_card img, .card img {
  display: block;
  filter: brightness(100%) contrast(100%) sepia(0%);
  transition: filter 0.5s ease;
}
.portfolio_card h2, .portfolio_card h3, .portfolio_card .pc_description, .portfolio_card .card_description, .card h2, .card h3, .card .pc_description, .card .card_description {
  /* Spacing & Border */
  margin: 0;
  padding: 1rem;
  position: absolute;
  left: 0;
  background: var(--primary-trans);
  color: var(--off-white);
  text-align: left;
}
.portfolio_card h2, .portfolio_card h3, .card h2, .card h3 {
  top: 0;
  right: auto;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.portfolio_card .pc_description, .portfolio_card .card_description, .card .pc_description, .card .card_description {
  border-radius: 0.5rem 0.5rem 0 0;
  right: 0;
  bottom: -50px;
  opacity: 0%;
  transition: bottom 0.5s ease, background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}
.portfolio_card p, .card p {
  transition: color 0.5s ease;
}
.portfolio_card:hover img, .card:hover img {
  filter: brightness(50%) contrast(87.5%) sepia(100%);
}
.portfolio_card:hover h2, .portfolio_card:hover h3, .card:hover h2, .card:hover h3 {
  background: var(--primary-trans);
  color: white;
}
.portfolio_card:hover .pc_description, .portfolio_card:hover .card_description, .card:hover .pc_description, .card:hover .card_description {
  bottom: 0;
  background: var(--primary-trans);
  bottom: 0;
  opacity: 100%;
}
.portfolio_card:hover p, .card:hover p {
  color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * FORM
 * -- default --
 *
 * form, fieldset...
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
** Styling for <form> element.
**/
form {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
form > * {
  flex-basis: 100%;
}

/**
** Styling for <fieldset> element.
**/
fieldset {
  /* Spacing & Border */
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
fieldset > * {
  flex-basis: 100%;
}

/**
** Styling for <fieldset> element.
**/
legend {
  /* Spacing & Border */
  margin: 0;
  padding: 0 0.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  letter-spacing: calc(body-size / 5);
}

/**
** Styling for <button> element.
**/
button {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0.5rem;
  border: auto;
  border-radius: 0.75rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  letter-spacing: calc(body-size / 5);
  background: var(--primary-off);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}
button:hover {
  background: var(--primary-trans);
  color: var(--off-black);
}
button[disabled=""] {
  cursor: default;
  background: none;
  color: lightgray;
}
button[disabled=""]:hover {
  background: none;
  color: lightgray;
}

label {
  text-align: left;
  flex-basis: 95%;
}

/**
** Styling for <input> element.
**/
input {
  /* Spacing & Border */
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
}
input:first-child, input:nth-child(2) {
  margin-top: 0;
}
input:last-child {
  margin-bottom: 0;
}
input[type=checkbox] {
  margin: 0;
  flex-basis: 5%;
  width: 1rem;
  height: 1rem;
  border: 2px solid black;
}

/**
** Styling for <textarea> element.
**/
textarea {
  /* Spacing & Border */
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
}
textarea:first-child, textarea:nth-child(2) {
  margin-top: 0;
}
textarea:last-child {
  margin-bottom: 0;
}

/**
** Styling for <select> element.
**/
select {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
}

img {
  position: relative;
  display: block;
  width: 100%;
}

.vimeo_container, .youtube_container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.vimeo_video, .youtube_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TABLE
 * -- default --
 *
 * table, thead, tbody, tfoot, tr, th, td
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
* Styling for the <table> element.
*/
table {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5;
  border: 4px groove gray;
  font-family: "Raleway", sans-serif;
}

/**
* Styling for the <thead> element.
*/
thead {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: calc(1.1rem / 10);
}

/**
* Styling for the <tbody> element.
*/
tbody {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}

/**
* Styling for the <tfoot> element.
*/
tfoot {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}

/**
* Styling for the <tr> element.
*/
tr:nth-child(2n) {
  background: lightgray;
}

/**
* Styling for the <th> element.
*/
th {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  border: none;
}
th[scope=rowgroup]:nth-child(2n) {
  background: lightgray;
}

/**
* Styling for the <td> element.
*/
td {
  /* Spacing & Border */
  margin: 0;
  padding: 0.5rem;
  border: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ABOUT
 * -- default --
 *
 * #about_thesis, 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#about_card > article {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BLOG
 * -- default --
 *
 * #about_thesis, 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#blog-preview {
  /* Spacing & Border */
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.blog-preview {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--primary-trans);
  border-radius: 0 0 1rem 1rem;
}
.blog-preview .banner {
  display: block;
  width: 100%;
}
.blog-preview .blog-title {
  /* Spacing & Border */
  margin: 0;
  padding: 1rem;
  flex-basis: 100%;
  background: var(--primary-off);
  color: white;
}
.blog-preview .preview-head {
  /* Spacing & Border */
  margin: 0;
  padding: 0.75rem;
  border-bottom: 1px solid var(--primary-trans);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.blog-preview .preview-head img {
  padding: 0;
  width: 100%;
  filter: none;
}
.blog-preview .preview-head_details {
  /* Spacing & Border */
  margin: 0 0.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: var(--off-black);
  flex-basis: 87.5%;
}
.blog-preview .preview-head_details p {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}
.blog-preview .preview-head_details p::after {
  content: "|";
  margin: 0 1rem;
}
.blog-preview .preview-head_details p:last-child {
  flex-basis: 100%;
  margin-top: 0.375rem;
  font-style: italic;
}
.blog-preview .preview-head_details p:last-child::after {
  content: "";
  margin: 0;
}
.blog-preview .preview-head_details time {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.8rem;
}
.blog-preview .preview-body {
  /* Spacing & Border */
  margin: 0.75rem;
  padding: 0;
}
.blog-preview .preview-body h2 {
  flex-basis: 100%;
}
.blog-preview .tag {
  /* Spacing & Border */
  margin: 0;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary-off);
  border-radius: 0.25rem;
  background: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.blog {
  position: relative;
  overflow: hidden;
}

.blog-header {
  /* Spacing & Border */
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 700px;
}

.blog-banner {
  opacity: 50%;
}

.blog-header_details {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background: var(--primary-trans);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.blog-title {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
  color: white;
}

.renegade {
  /* Spacing & Border */
  margin: 0;
  padding: 1rem;
  filter: invert(95%);
  width: 5%;
}

.preview-head_details {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.preview-head_details p {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
}
.preview-head_details p::after {
  content: "|";
  margin: 0 1rem;
}
.preview-head_details p:last-child {
  flex-basis: 100%;
  margin-top: 0.375rem;
  font-style: italic;
}
.preview-head_details p:last-child::after {
  content: "";
  margin: 0;
}
.preview-head_details time {
  /* Spacing & Border */
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0.8rem;
}

.preview-head_tags {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
  margin: 0;
  grid-column: -1;
}

.tag {
  /* Spacing & Border */
  margin: 0;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(9, 64, 109, 0.9);
  border-radius: 0.25rem;
  background: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.blog-body {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
}
.blog-body > * {
  margin-left: auto;
  margin-right: auto;
}
.blog-body > p, .blog-body h3, .blog-body h4 {
  max-width: 560px;
}

.blog-gallery {
  display: grid;
  gap: 0.1875rem;
  max-width: 840px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BACKEND
 * -- default --
 *
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Container for every element used in #backend.
 */
#backend #manager {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}
#backend section {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0;
}
#backend #myEditor {
  /* Spacing & Border */
  margin: 1rem;
  padding: 0.75rem;
  border: 3px solid var(--primary-off);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 374px) {
  #renegade_home_link {
    width: calc(125vw / 3.75);
    height: calc(125vw / 3.75);
  }

  h1 {
    font-size: calc(1.9487171rem * 0.80);
  }
}
@media only screen and (min-width: 375px) {
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * TYPOGRAPHY
   * -- min-width: 375px --
   *
   * + h1, h2, h3, h4, h5, h6
   * + p
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Set the default font style for heading text. */
  /** h1: Main Heading: "Reilly Thate" */
  h1 {
    margin-left: auto;
    margin-right: auto;
  }

  /** h2: Reserved for page headings; i.e. "Blog" */
  /** h3 */
  /** h4 */
  /** h5 */
  /** h6 */
  /** Set the default font style for body text. */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * LINKS
   * -- min-width: 375px --
   *
   * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Anchor tag styling. */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * HEADER
   * -- min-width: 375px --
   *
   * #public_header, #nav_primary
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the <header> element when defined as #public_header.
   */
  #public_header > a {
    /* Spacing & Border */
    margin: 0;
    padding: 0;
    width: 8rem;
    height: 8rem;
  }
  #public_header img {
    width: 100%;
  }
  #public_header img:hover {
    opacity: 90%;
  }

  /**
   * Styling for the <nav> element within the <header> element.
   */
  #nav_primary {
    margin: 1rem;
    margin-bottom: 0;
    flex-basis: 100%;
  }
  #nav_primary ul {
    /* Spacing & Border */
    margin: 0;
    padding: 0.5rem;
    list-style: none;
  }
  #nav_primary li {
    text-align: right;
    font-weight: normal;
    font-size: calc(1.25rem * 1.1);
    letter-spacing: calc(1.25rem / 15);
  }
  #nav_primary a {
    display: block;
    padding: 0.75rem;
    padding-right: 1.5rem;
  }
  #nav_primary .nav_active_page {
    cursor: default;
    border-right: 0.25rem groove var(--primary-off);
    padding-right: 1.25rem;
  }
  #nav_primary .nav_active_page:hover {
    color: var(--off-black);
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * MAIN
   * -- min-width: 375px --
   *
   * main
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the document's <main> element.
   */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * FOOTER
   * -- min-width: 375px --
   *
   * footer, #nav_footer,
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the footer's <nav> element.
   */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * CARDS
   * -- min-width: 1024px --
   *
   * .card_gallery, .card_count_(1-4)
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  .card_count_1 {
    grid-template-columns: 1fr;
  }

  .card_count_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_count_3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_count_4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-home-primary {
    grid-template-columns: 1fr;
  }

  .film-portfolio {
    grid-template-columns: 1fr;
  }

  /**
  **
  **/
  .portfolio_card h2, .portfolio_card h3, .portfolio_card .pc_description, .portfolio_card .card_description, .card h2, .card h3, .card .pc_description, .card .card_description {
    /* Spacing & Border */
    margin: 0;
    padding: 0.5rem;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * ABOUT
   * -- min-width: 375px --
   *
   * #about_card, 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  #about_card > article {
    /* Spacing & Border */
    margin: 0.75rem;
    padding: 0;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BLOG
   * -- min-width: 375px --
   *
   * #about_thesis, 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BACKEND
   * -- min-width: 375p --
   *
   * 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Container for every element used in #backend.
   */
}
@media only screen and (min-width: 667px) {
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * TYPOGRAPHY
   * -- min-width: 667px --
   *
   * + h1, h2, h3, h4, h5, h6
   * + p
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Set the default font style for heading text. */
  /** h1: Main Heading: "Reilly Thate" */
  h1 {
    margin-right: auto;
    margin-left: auto;
  }

  /** h2: Reserved for page headings; i.e. "Blog" */
  /** h3 */
  /** h4 */
  /** h5 */
  /** h6 */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * LINKS
   * -- min-width: 667px --
   *
   * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Anchor tag styling. */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * HEADER
   * -- min-width: 667px --
   *
   * #public_header, #nav_primary
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the <header> element when defined as #public_header.
   */
  #public_header {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  #public_header > a {
    justify-self: flex-start;
    width: 10rem;
    height: 10rem;
  }
  #public_header img {
    width: 10rem;
  }

  /**
   * Styling for the <nav> element within the <header> element.
   */
  #nav_primary {
    margin: 0;
    flex-basis: auto;
  }
  #nav_primary button.collapsible {
    display: none;
    overflow: hidden;
  }
  #nav_primary ul {
    display: grid;
  }
  #nav_primary a {
    padding: 0.75rem 1.5rem;
  }
  #nav_primary .nav_active_page {
    cursor: default;
    border-right: 0.25rem groove var(--primary-off);
    padding-right: 1.25rem;
  }
  #nav_primary .nav_active_page:hover {
    color: var(--off-black);
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * MAIN
   * -- min-width: 667px --
   *
   * main
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the document's <main> element.
   */
  #portfolio_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * CARDS
   * -- min-width: 667px --
   *
   * .card_gallery, .card_count_(1-4)
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  .card_count_1 {
    grid-template-columns: 1fr;
  }

  .card_count_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_count_3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_count_4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .film-portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  /**
  **
  **/
  .portfolio_card h2, .portfolio_card h3, .portfolio_card .pc_description, .portfolio_card .card_description, .card h2, .card h3, .card .pc_description, .card .card_description {
    /* Spacing & Border */
    margin: 0;
    padding: 1rem;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * ABOUT
   * -- min-width: 667px --
   *
   * #about_card, 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  #about_card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    border-bottom: 3px groove var(--primary-trans);
  }
  #about_card img {
    width: 35%;
  }
  #about_card > article {
    margin-top: 0;
    margin-bottom: 0;
  }
  #about_card > article > ul {
    /* Spacing & Border */
    margin: 0 0 0.75rem 1rem;
    padding: 0;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BLOG
   * -- min-width: 667px --
   *
   * #about_thesis, 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  #blog-preview {
    grid-template-columns: repeat(2, 1fr);
  }

  .cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .rows-1 {
    grid-template-rows: repeat(1, 1fr);
  }

  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .rows-2 {
    grid-template-rows: repeat(2, 1fr);
  }

  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .rows-3 {
    grid-template-rows: repeat(3, 1fr);
  }

  .cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .rows-4 {
    grid-template-rows: repeat(4, 1fr);
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BACKEND
   * -- min-width: 667px --
   *
   * 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Container for every element used in #backend.
   */
}
@media only screen and (min-width: 1024px) {
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * TYPOGRAPHY
   * min-width: 1024px
   *
   * + h1, h2, h3, h4, h5, h6
   * + p
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Set the default font style for heading text. */
  /** h1: Main Heading: "Reilly Thate" */
  /** h2: Reserved for page headings; i.e. "Blog" */
  /** h3 */
  /** h4 */
  /** h5 */
  /** h6 */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * LINKS
   * -- min-width: 1024px --
   *
   * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /** Anchor tag styling. */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * HEADER
   * -- min-width: 1024px --
   *
   * #public_header, #nav_primary
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the <header> element when defined as #public_header.
   */
  #public_header > a {
    float: left;
  }
  /**
   * Styling for the <nav> element within the <header> element.
   */
  #nav_primary {
    position: relative;
    top: 0.125rem;
    flex-basis: 50%;
    justify-self: flex-end;
  }
  #nav_primary ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  #nav_primary li {
    text-align: center;
    flex-basis: calc(100% / 3);
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  #nav_primary li:last-child {
    margin-right: 0;
    border-right: none;
  }
  #nav_primary .nav_active_page {
    cursor: default;
    border-right: none;
    border-bottom: 0.25rem groove var(--primary-off);
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
  }
  #nav_primary .nav_active_page:hover {
    color: var(--off-black);
  }

  #backticks ul {
    /* Spacing & Border */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    list-style: none;
  }
  #backticks ul li {
    text-decoration: underline;
  }
  #backticks ul li:first-child::before {
    display: inline-block;
    text-decoration: none;
    content: "";
    /* Spacing & Border */
    margin: 0;
    padding: 0;
  }
  #backticks ul li::before {
    display: inline-block;
    text-decoration: none;
    content: "»";
    /* Spacing & Border */
    margin: 0 1rem;
    padding: 0;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * MAIN
   * -- min-width: 1024px --
   *
   * main
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Styling for the document's <main> element.
   */
  main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1500px;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * CARDS
   * -- min-width: 1024px --
   *
   * .card_gallery, .card_count_(1-4)
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  .card_count_1 {
    grid-template-columns: 1fr;
  }

  .card_count_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .card_count_3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_count_4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .card_count_5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .card_count_6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .film-portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * ABOUT
   * -- min-width: 1024px --
   *
   * #about_card, 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BLOG
   * -- min-width: 1024px --
   * 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  #blog-preview {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog .preview-head {
    position: absolute;
    top: 0;
  }

  .blog-gallery {
    display: grid;
    gap: 0.1875rem;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
   * BACKEND
   * -- min-width: 1024px --
   *
   * 
   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /**
   * Container for every element used in #backend.
   */
  #backend #potential_elements {
    /* Spacing & Border */
    margin: 1rem 0;
    padding: 1rem;
    border: 3px solid gray;
    list-style: none;
  }
  #backend #potential_elements li {
    /* Spacing & Border */
    margin: 1rem;
    padding: 0.5rem;
    border: 2px dotted gray;
    text-align: center;
  }
  #backend #potential_elements .ui-selected {
    background-color: lightgray;
  }
  #backend #drop_zone {
    /* Spacing & Border */
    margin: 1rem 0;
    padding: 1rem;
    border: 3px solid gray;
    width: 100%;
  }
  #backend .token {
    /* Spacing & Border */
    margin: 1rem;
    padding: 1rem;
    border: 3px solid var(--primary-trans);
    border-radius: 0.5rem;
  }
  #backend .token_slot {
    /* Spacing & Border */
    margin: 1rem;
    padding: 1rem;
    border: 3px dashed var(--primary-trans);
    border-radius: 0.5rem;
  }
  #backend .before, #backend .after {
    /* Spacing & Border */
    margin: 0.5rem;
    padding: 1rem;
    border: 3px solid var(--red);
    width: 100%;
    height: 50px;
  }
}

/*# sourceMappingURL=common.css.map */
