//  
//  Components of an element's Box Model properties:
//      - Margin
//      - Padding
//      - Border
//      - Border Radius
//
//  If called and left empty, there will be no properties added.
//  
@mixin edge($margin:false, $padding:false, $border:false, $border-radius:false)
{
    /* Spacing & Border */
    @if $margin
    {
        margin: $margin;
    }
    @if $padding
    {
        padding: $padding;
    }
    @if $border
    {
        border: $border;
    }
    @if $border-radius
    {
        border-radius: $border-radius;
    }
}
/* Positioning */

/* Display & Box Model */

/* Color */

/* Text */

/* Other */
@mixin flex($flex-direction, $justify-content:false, $align-items:false, $flex-wrap:true)
{
    display: flex;
    flex-direction: $flex-direction;
    @if $justify-content
    {
        justify-content: $justify-content;
    }
    @if $align-items
    {
        align-items: $align-items;
    }
    @if $flex-wrap
    {
        flex-wrap: $flex-wrap;
    }
}

@mixin grid($columns:false, $rows:false, $areas:false, $gap:false, $inline:false, $place:false)
{
    @if $inline
    {
        display: inline-grid;
    } @else
    {
        display: grid;
    }
    @if $gap
    {
        gap: $gap;
    }
    @if $columns
    {
        grid-template-columns: $columns;
    }
    @if $rows
    {
        grid-template-rows: $rows;
    }
    @if $areas
    {
        grid-template-areas: $areas;
    }
    @if $place
    {
        place-items: $place;
    }
}
//  
//  Make an element fixed on the page.
//  By default, all "sides" are set to 0, so the element will stretch.
//  Will implement positioning later.
//  
@mixin affix(
    $top:true,
    $right:true,
    $bottom:true,
    $left:true)
{
    position: fixed;
    @if $top
    {
        top: 0;
    }
    @if $right
    {
        right: 0;
    }
    @if $bottom
    {
        bottom: 0;
    }
    @if $left
    {
        left: 0;
    }
}
// Set the color of an element and its text.
@mixin element-color($background-color:$col-background, $text-color:$col-contrast)
{
    @if $background-color
    {
        background: $background-color;
    }
    @if $text-color
    {
        color: $text-color;
    } 
}
// Set the style of a font: bold, italic, or small-caps.
@mixin font-look($style:false, $weight:false, $variant:false)
{
    @if $style
    {
        font-style: $style;
    }
    @if $weight
    {
        font-weight: $weight;
    }
    @if $variant
    {
        font-variant: $variant;
    }
}
// Set the spacing between lines, letters, and words.
@mixin line-format($font-size:$default-font-size, $line-height:false, $letter-spacing:false, $word-spacing:false, $align:false)
{
    font-size: $font-size;
    line-height: $font-size;
    letter-spacing: calc(#{$font-size} / 20);

    @if $line-height
    {
        line-height: $line-height;
    }
    @if $letter-spacing
    {
        letter-spacing: $letter-spacing;
    }
    @if $word-spacing
    {
        word-spacing: $word-spacing;
    }
    @if $align
    {
        text-align: $align;
    }
}

@mixin query($width, $type: min)
{
    @if map-has-key($min-breakpoints, $width)
    {
        $width: map-get($min-breakpoints, $width);
        @if $type == max
        {
            $width: $width - 1;
        }

        @media only screen and (#{$type}-width: $width)
        {
            @content;
        }
    }
}