@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Raleway&display=swap");

$col-background: hsla(0, 0%, 95%, 1.0);
$col-contrast: hsla(0, 0%, 10%, 1.0);

$col-background-highlight: hsla(0, 0%, 85%, 1.0);
$col-background-active: hsla(0, 0%, 75%, 1.0);

$header-width: 35%;

$body-size: 1rem;

$font-family-header: "Oswald", sans-serif;
$font-family-body: "Raleway", sans-serif;

$h1-size: 2.5rem;
$h2-size: 1.9rem;
$h3-size: 1.4rem;
$thate-tagline-size: calc(#{$h1-size} / (5 / 3));

$identity_logo-mobile-width: 8rem;
$identity_logo-mobile-width-667px: 10rem;

$num_nav_items: 3;

$shade-transparent: hsla(230, 75%, 50%, 0);
$shade-primary: hsla(230, 75%, 50%, 0.9);
$shade-secondary: hsla(230, 75%, 50%, 0.45);
$accent-transparent: hsla(207, 85%, 23%, 0);
$accent-primary: hsla(207, 85%, 23%, 0.9);
$accent-secondary: hsla(200, 2%, 33%, 0.45);
$bright-primary: hsla(135, 2%, 100%, 1.0);
$bright-secondary: hsla(135, 2%, 60%, 1.0);
$dark-primary: hsla(0, 0%, 0%, 1.0);