@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500|Raleway:100,200,300,400,500,600,700,800,900&display=swap");

// Variables
// 
// Variables should follow the `$component-state-property-size` formula for consistent naming.
// Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

@import 'variables/colors';

$max-breakpoints: (
    //  For anything smaller than this...
    'dev':                  319px
);
$min-breakpoints: (
    //  Mobile Portrait
    'phone':                375px,
    //  Mobile Landscape
    'phone-wide':           667px,
    //  Tablet Portrait
    'tablet-portrait':      768px,
    //  Tablet Landscape
    'tablet-landscape':     1024px,
    //  Laptop
    'laptop':               1280px,
    //  Desktop
    'desktop':              1440px
);

$phone: 375px;
$phone-wide: 667px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop: 1280px;
$desktop: 1440px;

$media-queries: (
    "phone": (),
    "phone-wide": (),
    
    "tablet-portrait": (),
    "tablet-landscape": (),
    "laptop": (),
    "desktop": ()
    
) !default;

//@debug $media-queries;

$phone-header-height: 6rem;
$phone-body-margin-top: $phone-header-height + 1rem;

//@debug $mq-test;
/*
$p_phone: (
    "color":        pink,
    "background":   black,
);
$media-queries: (
    map-set($media-queries, "phone", "p", $p_phone)
);*/

$header-width: 35%;

// Form

$button-default-border-radius: 0.5rem;

// Fonts

$font-family-header: "Oswald", sans-serif;
$font-family-body: "Raleway", sans-serif;

$default-font-base: 1.1;
$default-font-size: 1rem * $default-font-base;
$body-size: $default-font-size;

$heading-base: 1.1;
$h6-size: 1rem * pow($heading-base, 1);
$h5-size: 1rem * pow($heading-base, 2);
$h4-size: 1rem * pow($heading-base, 3);
$h3-size: 1rem * pow($heading-base, 4);
$h2-size: 1rem * pow($heading-base, 5);
$h1-size: 1rem * pow($heading-base, 7);
//$thate-tagline-size: calc(#{$h1-size} / (5 / 3));

$section_spacer: 1rem;
$content_spacer: 0.75rem;
$card_grid_spacer: 0.5rem;

$blog-image-max-width: 700px;
$blog-body-max-width: $blog-image-max-width * 0.8;

$nav_primary_li_size: 1.25rem;

$identity_logo-mobile-width: 8rem;
$identity_logo-full-width: 10rem;

$num_nav_items: 3;

$shade-transparent: hsla(230, 75%, 50%, 0);
$shade-primary: hsla(230, 75%, 50%, 0.9);
$shade-secondary: hsla(230, 75%, 50%, 0.45);
$accent-transparent: hsla(207, 85%, 23%, 0);
$accent-primary: hsla(207, 85%, 23%, 0.9);
$accent-secondary: hsla(207, 85%, 23%, 0.45);
$bright-primary: hsla(135, 2%, 100%, 1.0);
$bright-secondary: hsla(135, 2%, 80%, 1.0);
$dark-primary: hsla(0, 0%, 0%, 1.0);

$trans_portfolio_card: 0.5s;