/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LINKS
 * -- min-width: 667px --
 *
 * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/** Anchor tag styling. */
a
{
    /* Remove UNDERLINES from links. */
    text-decoration: none;
    width: auto;

    &:link
    {

    }
    &:hover
    {
        
    }
    &:visited
    {
        &:hover
        {

        }
    }
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    /* Set color of headings w/ links to contrast */
    color: $col-contrast;
}