/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BLOG
 * -- min-width: 1024px --
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#blog-preview
{
    grid-template-columns: repeat(3, 1fr);
}
.blog-preview
{
    
}
.blog
{
    .preview-head
    {
        position: absolute;
        top: 0;
    }
}

.blog-gallery
{
    @include grid($gap:($content-spacer/4));

    @extend %p-child;
    @extend %adjacent-heading-spacer;
}