/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BLOG
 * -- min-width: 667px --
 *
 * #about_thesis, 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#blog-preview
{
    grid-template-columns: repeat(2, 1fr);
}

@for $i from 1 through 4
{
    .cols-#{$i}
    {
        grid-template-columns: repeat($i, 1fr);
    }
    .rows-#{$i}
    {
        grid-template-rows: repeat($i, 1fr);
    }
}

