/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LINKS
 *
 * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/** Anchor tag styling. */
a
{
    /* Remove UNDERLINES from links. */
    text-decoration: none;
    width: auto;

    &:link
    {
        color: $col-contrast;
    }
    &:hover
    {
        color: $accent-primary;
    }
    &:visited
    {
        color: $col-contrast;
        &:hover
        {
            color: $accent-primary;
        }
    }
}

.end-preview-link
{
    text-align: right;
    color: $accent_primary;
    &::before
    {

        content: "»";
        padding-right: 0.5rem;
    }
    & > a
    {
        &:link, &:visited
        {
            text-decoration: underline;
            color: $accent_primary;
        }
    }
}