/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LINKS
 *
 * + a, a:link, a:hover, a:visited, a:visited:hover, etc.
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/** Anchor tag styling. */
a
{
    /* Remove UNDERLINES from links. */
    text-decoration: none;
    width: auto;

    &:link
    {
        color: gray(off-black); // Overrides default blue.
    }
    &:hover
    {
        color: theme(primary);
    }
    &:visited
    {
        color: gray(off-black); // Overrides default purple.
        &:hover
        {
            color: theme(primary);
        }
    }
}

.end-preview-link
{
    text-align: right;
    color: theme(primary);
    &::before
    {

        content: "»";
        padding-right: 0.5rem;
    }
    & > a
    {
        &:link, &:visited
        {
            text-decoration: underline;
            color: theme(primary);
            &:hover
            {
                color: gray(off-black);
            }
        }
    }
}