/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TYPOGRAPHY
 * -- default --
 *
 * + h1, h2, h3, h4, h5, h6
 * + p
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/** Set the default font style for all inheriting elements. */
html, body
{
    font-family: $font-family-body;
    font-size: $default-font-size;
    @include line-format($default-font-size);
    @include element-color(gray(off-white), gray(off-black));
}

/** Set the default font style for heading text. */
h1, h2, h3, h4, h5, h6
{
    font-family: $font-family-header;
    @include edge(0.5rem 0, 0);
    @include font-look($weight: 400);
    color: gray(off-black);

    @extend %p-child;
}
/** h1: Main Heading: "Reilly Thate" */
h1
{
    @include edge(0 auto, 0.5rem);
    @include line-format($h1-size, $align:center);

    //  
    //  Media Queries
    //
}
/** h2: Reserved for page headings; i.e. "Blog" */
h2
{
    @include line-format($h2-size);
}
/** h3 */
h3
{
    @include line-format($h3-size);
}
/** h4 */
h4
{
    @include line-format($h4-size);
}
/** h5 */
h5
{
    @include line-format($h5-size);
}   
/** h6 */
h6
{
    @include line-format($h6-size);
}

/** Set the default font style for body text. */
p
{
    @include line-format($default-font-size, calc(#{$default-font-size} * 1.25));

    @extend %p-child;
    @extend %adjacent-heading-spacer;
    & + ul
    {
        @include edge(0 0 0.5rem 2rem, 0);

        &:last-child
        {
            margin-bottom: 0.25rem;
        }
    }
}
ul
{
    @include edge(0 0 $content_spacer 1rem, 0);
}
li
{
    font-family: $font-family-body;
    font-size: $body-size;
}
/** Set the default font style for form elements. */
input[type="text"], label, textarea, button
{
    font-family: $font-family-body;
    font-size: calc(#{$body-size} * 1.0);
    letter-spacing: calc(#{$body-size} / 12.5);
}

.after_button
{
    padding-left: 0.5rem;
}
.error_message
{
    color: color(red);
    font-style: italic;
}

.success-message
{
    @include edge(
        $margin: $section-spacer 0,
        $padding: $content-spacer,
        $border: 3px groove green,
        $border-radius: 0.25rem
    );

    background: green;
    color: gray(off-white);

    font-style: italic;
    text-align: center;
}