/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TYPOGRAPHY
 * -- default --
 *
 * + h1, h2, h3, h4, h5, h6
 * + p
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/** Set the default font style for heading text. */
h1, h2, h3, h4, h5, h6
{
    font-family: $font-family-header;
    color: $col-contrast;
}
/** h1: Main Heading: "Reilly Thate" */
h1
{
    @include edge(0, 0.5rem);
    font-size: $h1-size;
    line-height: $h1-size;
    letter-spacing: calc(#{$h1-size} / 20);
    font-weight: 400;
    text-align: center;
}
/** h2: Reserved for page headings; i.e. "Blog" */
h2
{
    @include edge(0, 0 0 0.5rem 0);
    font-size: $h2-size;
    line-height: $h2-size;
    letter-spacing: calc(#{$h2-size} / 20);
    font-weight: 400;
    text-align: left;
}
/** h3 */
h3
{
    @include edge(0, 0 0 0.5rem 0);
    font-size: $h3-size;
    line-height: $h3-size;
    letter-spacing: calc(#{$h3-size} / 20);
    font-weight: 400;
    text-align: left;
}
/** h4 */
h4
{

}
/** h5 */
h5
{

}
/** h6 */
h6
{

}

/** Set the default font style for body text. */
p
{
    @include edge(0, 0 0 0.5rem 0);

    font-family: $font-family-body;
    line-height: calc(#{$body-size} * 1.25);
    color: $col-contrast;

    &:last-child
    {
        padding-bottom: 0;
    }

    & + ul
    {
        @include edge(0 0 0.5rem 2rem, 0);

        &:last-child
        {
            margin-bottom: 0.25rem;
        }
    }
}
li
{
    font-family: $font-family-body;
    font-size: $body_size;
}
/** Set the default font style for form elements. */
input[type="text"], label, textarea, button
{
    font-family: $font-family-body;
    font-size: calc(#{$body-size} * 1.0);
    letter-spacing: calc(#{$body-size} / 12.5);
}
#identity_tagline
{
    @include edge(0);
    font-size: $thate-tagline-size;
    line-height: $thate-tagline-size;
    letter-spacing: calc(#{$thate-tagline-size} / 15);

    text-align: center;
}

#copyright
{
    @include edge(0);
}