/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CARDS
 * -- min-width: 1024px --
 *
 * .card_gallery, .card_count_(1-4)
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.card_gallery
{
    
}
.card_count_1
{
    grid-template-columns: 1fr;
}
.card_count_2
{
    grid-template-columns: repeat(2, 1fr);
}
.card_count_3
{
    grid-template-columns: repeat(2, 1fr);
}
.card_count_4
{
    grid-template-columns: repeat(2, 1fr);
}
.cards-home-primary
{
    grid-template-columns: 1fr;
}
.film-portfolio
{
    grid-template-columns: 1fr;
}
/**
**
**/
.portfolio_card, .card
{
    & h2, h3, .pc_description, .card_description
    {
        @include edge(0, 0.5rem);
    }
}