/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BLOG
 * -- default --
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@import "blog/all-blogs";
@import "blog/blog-preview";
@import "blog/blog-page";

.blog-title
{
    @include edge($section_spacer, 0);
    color: $bright_primary;
}
.renegade
{
    @include edge(0, $section_spacer);
    filter: invert(95%);
    width: 5%;
}
.blog-gallery
{
    @include grid($gap:($content-spacer/4));
    max-width: $blog-image-max-width * 1.2;

    //@extend %p-child;
    //@extend %adjacent-heading-spacer;
}

@for $i from 1 through 4
{
    .cols-#{$i}
    {
        grid-template-columns: repeat($i, 1fr);
    }
    .rows-#{$i}
    {
        grid-template-rows: repeat($i, 1fr);
    }
}