/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BLOG
 * -- default --
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@import "blog/all-blogs";
@import "blog/blog-preview";
@import "blog/blog-page";

.blog-information
{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    @include edge(
        $padding: $content_spacer/2 $content_spacer
    );
    color: gray(off-white);
    //background: theme(primary);
    p
    {
        font-size: $default-font-size * 0.9;
    }
}
.blog-title
{
    @include edge($section_spacer, 0);
    color: $bright_primary;
}
.renegade
{
    @include edge(0, $section_spacer);
    filter: invert(95%);
    width: 5%;
}
.blog-gallery
{
    @include grid(
        $columns: repeat(2, 1fr),
        $gap: $content-spacer
    );
    
    .parallax-image__container-overlay
    {
        height: auto;
    }

    //@extend %p-child;
    //@extend %adjacent-heading-spacer;
}

@for $i from 1 through 4
{
    .cols-#{$i}
    {
        grid-template-columns: repeat($i, 1fr);
    }
    .rows-#{$i}
    {
        grid-template-rows: repeat($i, 1fr);
    }
}

.mobile-mode
{
    .blog-gallery
    {
        grid-template-columns: 1fr;
    }
}