// 
//  Button variables
//  
//  Variables associated with the <button> element.
//  
 
//  
//  Button
//  
button
{
    /* Positioning */
    width: 100%;

    /* Display & Box Model */
    @include edge(
        $padding: 0.75rem, 
        $border-radius: $button-default-border-radius);

    /* Color */
    background: theme(primary);
    color: white;

    /* Text */
    font-family: $font-family-header;
    font-size: $body-size;
    letter-spacing: calc(#{body-size} / 5);

    /* Other */
    cursor: pointer;

    transition:
        background-color 0.25s ease,
        color 0.25s ease;

    &:hover
    {
        background: theme(primary, trans);
        color: gray(off-black);
    }

    &[disabled=""]
    {
        cursor: default;
        background: none;
        color: lightgray;
        &:hover
        {
            background: none;
            color: lightgray;
        }
    }
}