// 
//  Label
//  
 
label
{
    /* Positioning */

    /* Display & Box Model */

    /* Color */

    /* Text */
    text-align: left;
    /* Other */
}

.required
{
    color: red;
    padding-left: 0.125rem;
    font-size: 90%;
    font-style: italic;
}