.sidebar__menu-wrapper
{

}
.sidebar__menu
{
    list-style: none;
}
.sidebar__menu-region
{

}
.sidebar__heading
{
    font-family: $font-family-body;
    font-size: $default-font-size;
    font-weight: bold;
}