.header-grid
{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo identity" "nav nav";

    #identity_logo
    {
        grid-area: logo;
        justify-self: right;
        align-self: center;
    }
    #identity_title
    {
        grid-area: identity;
        justify-self: left;
        align-self: center;
    }
    nav
    {
        grid-area: nav;
    }
}

.nav-ul-grid
{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}