// 
//  Breakpoints
//  
//  For setting and defining breakpoint information.
//  

$phone: 375px;
$phone-wide: 667px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$laptop: 1280px;
$desktop: 1440px;

$max-breakpoints: (
    //  For anything smaller than this...
    'dev':                  319px
);
$min-breakpoints: (
    //  Mobile Portrait
    'phone':                $phone,
    //  Mobile Landscape
    'phone-wide':           $phone-wide,
    //  Tablet Portrait
    'tablet-portrait':      $tablet-portrait,
    //  Tablet Landscape
    'tablet-landscape':     $tablet-landscape,
    //  Laptop
    'laptop':               $laptop,
    //  Desktop
    'desktop':              $desktop
);