// 
//  Sizing variables
//  
//  Variables used in sizing elements.
//  

$nav-item__count: 3; // Number of elements in nav_primary.
$nav-primary__li-size: 1.25rem;

$card-gallery__max-width: $tablet-portrait;