// 
//  Typeface variables
//  
//  Variables associated with typeface elements, such as:
//      Font Family
//      Font Size
//      ... etc
//  

@font-face
{
    font-family: 'Travelers';
    src: url('../misc/MarsVoyager\ Travelers.ttf') format('truetype'); 
}

$font-family-headings: "Oswald", sans-serif;
$font-family-body: "Raleway", sans-serif;
$font-family-code: "Courier New", monospace;
$font-family-travelers: "Travelers", monospace;

$default-font-base: 1.1;
$default-font-size: 1rem * $default-font-base;
$body-size: $default-font-size;

$default-line-height: $default-font-size / 1.1 * 1.25;

$heading-base: 1.105;
$h6-size: 1rem * pow($heading-base, 1);
$h5-size: 1rem * pow($heading-base, 2);
$h4-size: 1rem * pow($heading-base, 3);
$h3-size: 1rem * pow($heading-base, 4);
$h2-size: 1rem * pow($heading-base, 5);
$h1-size: 1rem * pow($heading-base, 7);