/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * -- min-width: 667px --
 *
 * main
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the document's <main> element.
 */
 main
 {
 
 }
 #portfolio_grid
 {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto;
 }