$RENEGADE_SIZE: 40vmin;
$EDGE_PADDING: 1.5rem;

@media only screen and (max-width:374px)
{
    #renegade_home_link
    {
        width: calc(125vw / 3.75);
        height: calc(125vw / 3.75);
    }
    h1
    {
        font-size: calc(#{$h1-size} * 0.80);
    }
}
@media only screen and (min-width:375px)
{
    @import "03-basics/queries/min-375px/typography";
    @import "03-basics/queries/min-375px/links";

    @import "04-layouts/queries/min-375px/header";
    @import "04-layouts/queries/min-375px/main";
    @import "04-layouts/queries/min-375px/footer";

    @import "05-modules/queries/min-375px/cards";

    @import "06-pages/queries/min-375px/about";

    // Backend Stuff; to implement separately from COMMON.scss.
    @import "04-layouts/queries/min-375px/backend";
}
@media only screen and(min-width:667px)
{
    @import "03-basics/queries/min-667px/typography";
    @import "03-basics/queries/min-667px/links";

    @import "04-layouts/queries/min-667px/header";
    @import "04-layouts/queries/min-667px/main";
    @import "04-layouts/queries/min-667px/footer";

    @import "05-modules/queries/min-667px/cards";

    @import "06-pages/queries/min-667px/about";

    // Backend Stuff; to implement separately from COMMON.scss.
    @import "04-layouts/queries/min-667px/backend";
}
@media only screen and (min-width: 1024px)
{
    @import "03-basics/queries/min-1024px/typography";
    @import "03-basics/queries/min-1024px/links";

    @import "04-layouts/queries/min-1024px/header";
    @import "04-layouts/queries/min-1024px/main";
    @import "04-layouts/queries/min-1024px/footer";

    @import "05-modules/queries/min-1024px/cards";

    @import "06-pages/queries/min-1024px/about";

    // Backend Stuff; to implement separately from COMMON.scss.
    @import "04-layouts/queries/min-1024px/backend";
}