//
//  For the admin/backend: Image Manager
//
#image-admin-list
{
    @include edge(
        $margin: $spacer-m 0
    );

    & > button
    {
        margin-bottom: $spacer-m;
    }

    ul
    {
        @include edge(0, 0);
        @include grid(
            $columns: repeat(4, 1fr),
            $gap: $spacer-m
        );
        list-style: none;
    }
    li
    {
        position: relative;

        @include flex(row, center, center);
        @include edge(
            $padding: $spacer-s,
            $border-radius: $spacer-s
        );
        background: theme(primary);
    }
    h3
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        @include edge($spacer-s, $spacer-l
        );
        border-bottom: 3px solid theme(primary);
        color: gray(off-white);
        background: theme(primary, trans);
    }
    img
    {
        background: white;
    }

    .image-item__buttons
    {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include edge(
            $spacer-m
        );
    }
}