//  
//  Blogs: All Blogs
//  
//  For elements that are included in a "blog preview" element.
//  

@import "preview/information";

.blog-preview
{
    /* Positioning */

    /* Display & Box Model */
    @include edge();
    display: flex(row, flex-start, flex-start, nowrap);
    //border: $body-child__border;
    /* Color */

    //  background: hsla(100, 50%, 50%, 0.25);
    /* Text */

    /* Other */
}

.blog-preview__content
{
    position: relative;
}
.blog-preview__banner
{

    width: 100%;

    display: block;
}
.blog-preview__banner-container
{
    position: relative;
}
.no-banner
{
    .blog-preview__banner-overlay
    {
        position: relative;
        background: theme(primary);
    }
    & + .blog-preview__information
    {
        border-color: theme(primary);
    }
}
.blog-preview__banner-overlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    @include flex(row, space-between, center, nowrap);
    
    background: theme(primary, trans);
}
.blog-preview__renegade
{
    @include edge($padding: $content-spacer);
    max-width: 2.5rem;

    filter: invert(100%);
}
.blog-preview__tags
{
    /* Positioning */
    
    /* Display & Box Model */
    @include edge(
        $padding: $content-spacer
    );
    /* Color */
    
    /* Text */
    
    /* Other */
}