//  
//  Blogs: Blog Page
//  
//  For elements that are specific to a blog page.
//  

.blog
{
    /* Positioning */
    
    /* Display & Box Model */
    
    /* Color */
    
    /* Text */
    
    /* Other */
    
}
.blog-header
{
    position: relative;
    max-width: $tablet-portrait;

    @include edge($section_spacer auto);
    padding-bottom: $medium_spacer;
    border-bottom: $container-child__border;

    h2
    {
        @include edge(
            $margin: 0,
            $padding: $content_spacer,
        );
        background: theme(primary);
        color: gray(off-white);
    }

    .blog-header__summary
    {
        & > *
        {
            @include edge($margin: $section_spacer);
        }
        
    }
    @include query("phone-wide")
    {
        border-bottom: none;

        .blog-header__details
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        h2
        {
            position: absolute;
            top: 0;
            left: 0;

            display: inline-block;
            border-radius: 0 0.5rem 0.5rem 0.5rem;

            background: theme(primary);

        }

        .blog-header__summary
        {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            @include edge(
                $padding: $section_spacer
            );
            background: theme(primary);
            color: gray(off-white);

            & > *
            {
                @include edge($margin: 0);
            }
            & * + *
            {
                margin-top: $content_spacer;
            }
        }

    }
}
.blog-header__banner
{
    opacity: 75%;
    filter: sepia(75%);
}
.blog-body
{
    *
    {
        max-width: $phone-wide;

        margin-left: auto;
        margin-right: auto;
    }
    h3
    {
        a
        {
            text-decoration: underline;
            color: theme(primary, solid);
        }
    }
}