#backticks
{
    flex-basis: 100%;
    
    @include edge($padding: 1rem);
    border-top: 3px solid theme(primary, trans);

    background: gray(off-white);

    ul
    {
        @include edge(0, 0);
        @include flex(row, flex-start, flex-start, wrap);
        list-style: none;
        li
        {
            text-decoration: underline;
            &:first-child
            {
                &::before
                {
                    display: inline-block;
                    text-decoration: none;
                    content: "";
                    @include edge(0);
                }
            }
            &::before
            {
                display: inline-block;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                text-decoration: none;
                content: "»";
            }
        }
    }
}