//
//  Project Page
//
#project-header
{
    @include edge($margin: $section_spacer 0);
    .parallax-image__container
    {
        img
        {
            opacity: 50%;
        }
    }
    .parallax-image__container-overlay
    {
        
    }
}

.mobile-mode
{
    #project-header
    {
        display: block;
        
        .page-break
        {
            @include edge(
                $margin: $section_spacer
            );
        }

        .parallax-image__container-overlay
        {
            height: auto;
        }

        h2
        {
            font-size: $h2-size;
            line-height: $h2-size;
            margin-bottom: $section_spacer;
        }
        p
        {
            margin-top: $section_spacer;
        }
    }
    .project-header__title
    {
        margin-top: 0;
    }
}