/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Page Layout -- Default (No Queries)
 *
 * + LIGHT THEME
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

main
{
    @include edge(1rem, 0 1rem);
}
#video_selection
{
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5rem;
}
//@import 'a-grids/header-grids';