/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * BACKEND
 * -- default --
 *
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Container for every element used in #backend.
 */
#backend
{
    #manager
    {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    section
    {
        @include edge(1rem, 0);
    }

    #myEditor
    {
        @include edge($section_spacer, $content_spacer, $body-child__border);
        @include flex(row, flex-start, flex-start, wrap);
        
    }

    @include query("tablet-landscape")
    {
        #potential_elements
        {
            @include edge(1rem 0, 1rem, 3px solid gray);
            list-style: none;
            li
            {
                @include edge(1rem, 0.5rem, 2px dotted gray);
                text-align: center;
            }
            .ui-selected
            {
                background-color: lightgray;
            }
        }
        #drop_zone
        {
            @include edge(1rem 0, 1rem);
            border: 3px solid gray;
            width: 100%;
        }
        .token
        {
            @include edge(1rem, 1rem, $body-child__border, 0.5rem);
        }
        .token_slot
        {
            @include edge(1rem, 1rem, $body-child__border, 0.5rem);
        }
        .before, .after
        {
            @include edge(0.5rem, 1rem);
            border: 3px solid color(red);
            width: 100%;
            height: 50px;
        }
    }
}