/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * -- default --
 *
 * main
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the document's <main> element.
 */
main
{
    @include element-color(theme(off-white), theme(off-black));
    @include edge($section_spacer, 0);
}
#manager
{
    @include flex(row, flex-start, flex-start, nowrap);
    & > section
    {
        @include edge(0 1rem, 0);
        flex-basis: 45%;
    }
}
section
{
    
}
article
{
    @include edge($content_spacer 0, 0);
}
#portfolio_grid
{
    @include edge(1rem 0, 0);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}