/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * -- default --
 *
 * main
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the document's <main> element.
 */
main
{
    @include edge($section_spacer, 0);
}
section
{
    
}
article
{
    @include edge($content_spacer 0, 0);
}
#portfolio_grid
{
    @include edge(1rem 0, 0);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}