#nav_primary
{
    margin: 1rem;
    flex-basis: 100%;

    ul
    {
        @include edge(0, 0.5rem);

        list-style: none;
    }
    li
    {
        border: none;
        border-radius: 0.75rem;
        box-shadow: 
            1px 1px 4px 1px hsla(0, 0%, 0%, 0.2), 
            -1px -1px 4px 1px white;

        font-size: calc(#{$body-size} * 1.1);
        letter-spacing: calc(#{$body-size} / 15);
        text-align: center;
    }
    a
    {
        display: block;
        padding: 0.75rem;
        color: $col-contrast;
        &:hover
        {
            border-radius: 0.75rem;
            background: $col-background-highlight;
            box-shadow: 
            1px 1px 4px 1px hsla(0, 0%, 0%, 0.2), 
            -1px -1px 4px 1px white;
        }
    }
}
#nav_footer
{
    @include edge(0 1rem 1rem 1rem, 0);

    ul
    {
        @include edge(0);
        @include flex(row, center, center, nowrap);
        
        list-style: none;
    }
    li
    {
        border: none;
        border-radius: 0.5rem;

        font-size: $body-size;
        text-align: center;
    }
    a
    {
        text-decoration: underline;
        display: block;
        padding: 0.5rem;
        color: $col-contrast;

        &:hover
        {
            color: blue;
        }
    }
}

.nav-ul-grid
{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat($num_nav_items, 1fr);
    grid-gap: 0.5rem;
}
.nav_active_page
{
    background: $col-background-active;
    border-radius: 0.75rem;
}