/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * -- min-width: 1024px --
 *
 * main
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**
 * Styling for the document's <main> element.
 */
main
{
    margin: $section_spacer auto;
    max-width: 1500px;
}

#backticks
{
    @include edge(0.5rem, 0.5rem 1rem 1rem 1rem);
    border-bottom: 3px groove $accent-secondary;
    ul
    {
        @include edge(0, 0);
        @include flex(row, flex-start, flex-start, nowrap);
        list-style: none;
        li
        {
            text-decoration: underline;
            &:first-child
            {
                &::before
                {
                    display: inline-block;
                    text-decoration: none;
                    content: "";
                    @include edge(0);
                }
            }
            &::before
            {
                display: inline-block;
                text-decoration: none;
                content: "»";
                @include edge(0 1rem, 0);
            }
        }
    }
}